<html>
    <head>
        <meta charset="utf-8">
        <title>Rotten Linguist's film review search</title>
    </head>
    <body style="background-color:rgba(104, 171, 71, 0.5);">
        <h1 style="border:2px solid rgb(64, 114, 63); text-align:center; font-family:'Courier New';">Film review search engine</h1>
	  <p style="text-align:center; font-family:'Courier New'">This search engine searches film reviews.<br>
       
	   <!--Reload the page with variable "query" in the URL-->
        <form style="text-align:center; font-family:'Courier New'">
            <input type="radio" id="exact" name="choice" value="exact" checked>
            <label for="exact">Exact match (e.g. anarchism)</label><br>
            <input type="radio" id="wildcard" name="choice" value="wildcard">
            <label for="wildcard">Wildcard search (e.g. anarcho)</label><br>
            <input type="text" name="query" autofocus>
            <input type="submit" value="Search">
        </form>

	<hr>
	<table>
	<!--insert the query plot-->
            <tr>
                <td></td>
                <td align= "right"><font face="Courier New" size='2' color="black"><i>Your query has the following frequecy distribution</i></font>
                <img src="./static/query_{{ query }}_plot.png" style="width: 500px; height 100%" align="right"></td>
                
                <td align= "right"><font face="Courier New" size='2' color="black"><i>Your query has the following frequecy distribution</i></font>
                <img src="./static/query_{{ query }}_plot_bar.png" style="width: 500px; height 100%" align="right"></td>
                
                <td align= "right"><font face="Courier New" size='2' color="black"><i>Your query has the following frequecy distribution</i></font>
                <img src="./static/theme_{{keywords}}_plot.png" style="width: 500px; height 100%" align="right"></td>


            </tr>
         

   <!--Go through each item in the "matches" variable sent from
                search() function in the Flask app-->
            
            {% for item in matches | unique %}
                
                <pre>{{ item }}</pre>
                <br>
            <!--End for loop-->
            {% endfor %}
	</table>
    </body>
</html>
